@charset "UTF-8";

/*
   CMF Coding Portfolio Home Style Sheet

   Filename: cmf_styles1.css
*/

@import url('https://fonts.googleapis.com/css?family=Barlow');
@import url('https://fonts.googleapis.com/css?family=Anton');

/* HTML and Body */

html {
  height: 100%;
  /*background: url(codebackground.jpg) 100% / cover fixed no-repeat;*/
  background-color: #F6EDD3;
}

body {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 0 25px, -15px 0 25px;
  font-family: 'Barlow', sans-serif;
}

/* Navigation */

header nav ul {
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;

  justify-content: space-around;

  padding: 10px 0;
}

header nav ul a {
  width: 25%;
  padding: 5px 0;
  text-align: center;
  font-size: 1.5em;
  color: #0A1827;
  background-color: #9AC0BA;
  border: 2px solid #5B9496;
}

header nav ul a:hover, header nav ul a:active {
  background-color: #CCD9CE;
}

/* Main Section */

main h1, main h2 {
  color: #0A1827;
  background-color: #CCD9CE;
  border-top: 2px solid #5B9496;
  border-bottom: 2px solid #5B9496;
}

section#header h1 {
  height: 100%;
  padding: 30px 0 35px 15px;
  margin-bottom: 10px;
  font-size: 3em;
  line-height: 1em;
}

main h2 {
  padding: 12.5px 0;
  text-align: center;
  font-size: 1.75em;
  border-top: 5px solid #0A1827;
  border-bottom: 5px solid #0A1827;
}

section#whatFind {
  margin: 0 auto;
  padding: 10px 0;
  color: #0A1827;
  background-color: #5B9496;
  border-top: 10px groove #0A1827;
  border-bottom: 10px groove #0A1827;
}

section#whatFind section h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 5px;
}

section#codingLangs{
  display: -webkit-flex;
  display: flex;

  flex-flow: row nowrap;

  justify-content: space-between;
  align-items: flex-start;
}

section#codingLangs section {
  margin: 10px 10px;
  padding: 20px 10px;
  width: 33.3%;
  text-align: center;
  background-color: #CCD9CE;
  border: 5px solid #0A1827;
}

section#java, section#other {
  flex: 1 2;
}

section#webDev {
  flex: 2 1;
}

section#codingLangs p {
  margin-bottom: 20px;
}

section#codingLangs a {
  width: 100%;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  background-color: #9AC0BA;
  border: 5px groove #657C80;
}

section#codingLangs a:hover, section#codingLangs a:active {
  color: #41706B;
  background-color: #9AC0BA;
  border-color: #0A1827;
}

@media only screen and (max-width: 480px) {
      body {
        width: 100%;
      }
}
